.content {
	width: 100%;
	height: 100%;
	background-image: radial-gradient(rgba(20, 26, 73, 0.6), rgb(0, 0, 0));
	/* background-image: url(backgrounds/12.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content_main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.content_main .current_effect {
	text-shadow: 0 1px 2px #000, 1px 0 2px #000;
	text-align: center;
	border-radius: 3px;
	font-size: 32px;
	padding: 10px;
	margin-top: -40vh;

}

.content_main .led_controls_rng {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	gap: 20px;
	position: fixed;
	bottom: 140px;

}


.led_controls_rng .range_brightness_block {
	/* background-color: #ff4500; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	gap: 6px;
	
}
.led_controls_rng img {
	width: 22px;
	filter: invert();
}

.led_controls_rng .range {
	/* background-color: rgb(41, 26, 248); */
	width: 35vh;

}

.led_controls_rng .range_duration_block {
	/* background-color: #ff4500; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	gap: 6px;
	
}
.led_controls_rng img {
	width: 22px;
	filter: invert();
}

.led_controls_rng output {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 5px 15px 5px 5px;
	width: 20px;
	font-size: 20px;
	color: #fff;
}

.led_controls_rng .range[type="range"] {
	-webkit-appearance: none;
	height: 5px;
	background: rgba(10, 10, 10, .8);
	border-radius: 5px;
	background-image: linear-gradient(#666, #666);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}

.led_controls_rng .range[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 4px 0 rgba(212, 212, 212, .5);

}

/* ############################################ */

.content .effects_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 5px;
	font-size: 22px;
	overflow-y: auto;
	padding-top: 10px;

}

.effects_list span {
	background-color: #090a0f;
	text-shadow: 0 1px 2px #000, 1px 0 2px #000;
	color: #eee;
	border-radius: 3px;
	text-align: center;
	padding: 10px;

}
.effects_list span:last-child {
	margin-bottom: 20px;
}

/*for PC*/
@media only screen and (min-width: 600px) {
	.content .effects_list {
		margin: 50px 0 10px 0;
	}
}