.led_controls {
	/* background-color: rgb(24, 144, 243); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	/* top:0; */
	height: 120px;
	width: 100%;
	bottom: 0;

}

.led_controls_nav_block {
	/* background-color: burlywood; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 30px;

}


.toggle_play_block {
    /* background-color: #0a2c74; */
}


.toggle_play_block .toggle_play[type=checkbox] {
    display: none;
}

.toggle_play_block label {
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: url('icons/play.svg');
	background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    background-size: 30px;
	/* transition: .3s ease; */
}

.toggle_play_block .toggle_play[type=checkbox]:checked + label {
    /* background-position: 0 0; */
    background-image: url('icons/pause.svg');

}

.toggle_play_block label:hover {
    /* background-color: rgba(100, 100, 100, .4); */
}


.led_controls_nav_block button {
    border: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    /* background-size: 18px; */
	transition: .2s;
    background-color: rgba(0,0,0,.0);
    filter: invert();
}

.prev_btn {
    background-image: url('icons/prev.svg');
}

.prev_btn:active, .next_btn:active {
    transform: translateY(4px);
}

.next_btn {
    background-image: url('icons/next.svg');
}

/* ############################# */

.led_controls .toggle + label {
    display: block;
    height: 40px;
    width: 40px;
	/* background-color: green; */
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    /* background-size: 18px; */
	transition: .2s;

}

.led_controls .toggle[type=checkbox] {
    display: none;
}

.led_controls .toggle[type=checkbox]:checked + label {
    /* background-color: rgba(0,0,0,.4); */
    filter: invert();

}

.toggle_loop_block label {
    background-image: url('icons/loop.png');

}

.toggle_random_block label {
    background-image: url('icons/random.png');

}
