.panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	height: 120px;
	width: 100%;
	bottom: 0;

}

.panel_nav_block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 30px;

}

.toggle_play_block .toggle_play[type=checkbox] {
    display: none;
}

.toggle_play_block label {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    background-image: url('icons/play.svg');
	background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    background-size: 30px;
	/* transition: .3s ease; */
}

.toggle_play_block .toggle_play[type=checkbox]:checked + label {
    background-image: url('icons/pause.svg');

}

.panel_nav_block button {
    border: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    /* background-size: 18px; */
	transition: .2s;
    background-color: rgba(0,0,0,.0);
    filter: invert();
}

.prev_btn {
    background-image: url('icons/prev.svg');
}

.prev_btn:active, .next_btn:active {
    transform: translateY(4px);
}

.next_btn {
    background-image: url('icons/next.svg');
}

/* ############################# */

.panel .toggle + label {
    display: block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    /* background-size: 18px; */
	transition: .2s;

}

.panel .toggle[type=checkbox] {
    display: none;
}

.panel .toggle[type=checkbox]:checked + label {
    filter: invert();

}

.toggle_loop_block label {
    background-image: url('icons/loop.png');

}

.toggle_random_block label {
    background-image: url('icons/random.png');

}

/* for PC */
@media only screen and (min-width: 600px) {
    .panel {
        top: 0;
        justify-content: center;
        height: 50px;
        box-shadow: 0 0px 5px 0px #000;
    }
    .panel .toggle + label {
        display: block;
        height: 26px;
        width: 26px;
        margin: 0 60px 0 60px;
    
    }
    .panel_nav_block button {
        height: 20px;
        width: 20px;

    }
    .toggle_play_block label {
        height: 40px;
        width: 40px;
        background-size: 15px;
    }
    .toggle_play_block label:hover {
        background-color: rgba(255, 255, 255, .9);
    }
    
    label, button, input {
        cursor: pointer;
    }

}