html, body {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: Tahoma;

}

/* .snowflake {
    position: absolute;
	z-index: 1000;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
} */


#wrapper {
	display: none;
}

#app {
	/* background-color: aqua; */
	background:#E11328;
	background-color: #090a0f;
	position: fixed;
	height: 100vh;
	width: 100%;

	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
	background-color: darkseagreen;

}

.header .toggle_settings {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	width: 40px;
}

.header .settings_block {
	position: absolute;
	z-index: 1000;
	top: 60px;
	right: 10px;
	width: 80vw;
	background-color: rgba(0,0,0,.7);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
	font-size: 20px;

}



.toggle_content {
	width: 40px;
	height: 40px;
	background-color: #E11328;
	position: absolute;
	right: 10px;
	top: 60px
}

.content {
	/* background-color: rgb(118, 118, 218); */
	width: 100%;
	height: 100%;
	/* background: #dd8790; */

}

.content_main {
	/* background-color: goldenrod; */
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content .current_led {
	background-color: aquamarine;
	text-align: center;
	font-size: 32px;
	margin-top: -40vh;
	/* flex-grow: 1; */
}

.led_controls_rng {
	/* background-color: chartreuse; */
	/* height: 200px; */
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	gap: 20px;
	position: fixed;
	bottom: 140px;

}

.led_controls_rng .range {
	background-color: rgb(41, 26, 248);
	width: 35vh;
}

.content .effects_list {
	/* position: absolute; */
	/* background-color: cyan; */
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 5px;
	font-size: 22px;
	overflow-y: auto;
	/* padding: 10px 0 10px 0; */
	/* height: 100%; */
	/* height: calc(100% - 120px); */
}

.effects_list span {
	background: rgb(118, 118, 218);
	text-align: center;
	padding: 10px;

}

.led_controls {
	/* background-color: rgb(24, 144, 243); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	/* top:0; */
	height: 120px;
	width: 100%;
	bottom:0;
	left:0;
	right:0;

}

.led_controls .toggle_btn {
	width: 60px;
	height: 60px;
}

.led_controls_nav_block {
	background-color: burlywood;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;

}

.led_controls_nav_block button {
	width: 60px;
	height: 60px;
}

.led_controls_nav_block .start_btn {
	width: 80px;
	height: 80px;
	background-color: blueviolet;
}


@media only screen and (min-width: 600px) {  /*for PC*/

}

@media only screen and (max-width: 600px) { /*for mobile*/

}
